@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
}

.shadow-hover:hover {
    box-shadow: 0px 0px 22px 0px #e8d5b551;
}

.selected {
    background-color: #46a846;
}

.item-grid {
    cursor: pointer;
    display: flex;
}

.item-grid,
.item-grid:hover  {
    transition: all .2s ease-in-out;
}

.item-grid:hover {
    background-color: #1c0938;
}